In [2]:
import pandas as pd
import numpy as np
import os

In [8]:
# Chemin vers le répertoire contenant les fichiers CSV
folder_path = 'C:/Users/PELLE Mayel/Documents/Perso/LOTO/stream_stat/data/loto/'

# Lister tous les fichiers dans le répertoire
file_list = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Afficher la liste des fichiers
print(file_list)

['loto.csv', 'loto2017.csv', 'loto_201902.csv', 'loto_201911.csv', 'nouveau_loto.csv']

### Création des Dataframes

- On créé un df par dossier. Un df est la concaténation de l'ensemble des fichiers csv à l'intérieur de chaque dossier

In [18]:

# Chemin vers le répertoire contenant les sous-dossiers avec les fichiers CSV
root_folder_path = 'C:/Users/PELLE Mayel/Documents/Perso/LOTO/stream_stat/data/'

# Dictionnaire pour stocker les noms des DataFrames par dossier
dfs_dict = {}

# Parcourir chaque dossier dans le répertoire racine
for folder in os.listdir(root_folder_path):
    folder_path = os.path.join(root_folder_path, folder)
    
    # Vérifier si c'est un dossier
    if os.path.isdir(folder_path):
        # Liste pour stocker les DataFrames individuels
        dfs = []
        
        # Parcourir chaque fichier CSV dans le dossier
        for file in os.listdir(folder_path):
            if file.endswith('.csv'):
                file_path = os.path.join(folder_path, file)
                df = pd.read_csv(file_path, sep=";")
                dfs.append(df)
        
        # Concatenation des DataFrames en un seul DataFrame pour le dossier
        combined_df = pd.concat(dfs, ignore_index=True)
        
        # Nommer dynamiquement le DataFrame
        df_name = f'df_{folder}'
        exec(f"{df_name} = combined_df")
        
        # Stocker le DataFrame dans le dictionnaire
        dfs_dict[df_name] = combined_df

# Afficher les noms et le contenu des DataFrames par dossier
for df_name, df in dfs_dict.items():
    print(f"DataFrame: {df_name}")
    print(df)

DataFrame: df_autres_loto
   annee_numero_de_tirage jour_de_tirage date_de_tirage date_de_forclusion  \
0                20233001       DIMANCHE     24/12/2023         23/02/2024
1                20222001       DIMANCHE     25/12/2022         24/02/2023
2                20211001       VENDREDI     24/12/2021         23/02/2022
3                20200001       VENDREDI     25/12/2020         26/03/2021
4                20199001       MARDI        24/12/2019         23/02/2020
5                 2018001       MARDI        25/12/2018         24/02/2019
6                 2017001       VENDREDI     22/12/2017         21/02/2018

   boule_1  boule_2  boule_3  boule_4  boule_5  numero_chance  ...  \
0       34       47       48       22        6              2  ...
1       26       17       35       40       20             10  ...
2       26       10        8       47       17             10  ...
3       15       48       33       30       35              5  ...
4       15       39       32       10       27              6  ...
5       44       20       31        5       36              5  ...
6       21       29       10       34       20              9  ...

  nombre_de_gagnant_au_rang8  rapport_du_rang8  nombre_de_gagnant_au_rang9  \
0                     447348              30,5                      689277
1                     454565              29,8                      636853
2                     659619                23                      786741
3                     414296              13,5                      772303
4                     473629              12,3                      674028
5                     502554              30,2                      870296
6                     471623              36,6                      678474

   rapport_du_rang9 nombre_de_codes_gagnants  rapport_codes_gagnants  \
0              10,4                      100                   20000
1              10,8                      100                   20000
2               9,7                      100                   20000
3                 5                      100                   20000
4                 5                      100                   20000
5               9,2                      100                   20000
6              12,3                      100                   20000

                                      codes_gagnants  numero_jokerplus devise  \
0  P 5061 8201,G 1077 7060,E 1234 5405,Q 2268 506...         5 687 281    eur
1  U 7454 8218,U 1345 0349,K 6873 8673,G 4039 045...         0 728 243    eur
2  S 6134 0243,A 7292 3991,B 0476 1261,G 0456 704...         2 502 519    eur
3  G 2211 3266,L 1968 2882,T 4416 8328,N 5833 674...         2 135 495    eur
4  V 8217 1682,H 1330 3649,S 2594 5678,T 4114 015...         1 471 429    eur
5  B 3301 9976,Q 1278 6487,N 7443 5887,D 9928 140...         6 513 065    eur
6  A 6932 9989,M 8843 9836,E 5279 0788,V 8228 261...         7 144 776    eur

   Unnamed: 34
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN

[7 rows x 35 columns]
DataFrame: df_loto
      annee_numero_de_tirage  1er_ou_2eme_tirage jour_de_tirage  \
0                    2008080                 2.0             SA
1                    2008080                 1.0             SA
2                    2008079                 2.0             ME
3                    2008079                 1.0             ME
4                    2008078                 2.0             SA
...                      ...                 ...            ...
7322                 2008085                 NaN       MERCREDI
7323                 2008084                 NaN       LUNDI
7324                 2008083                 NaN       SAMEDI
7325                 2008082                 NaN       MERCREDI
7326                 2008081                 NaN       LUNDI

     date_de_tirage date_de_forclusion  boule_1  boule_2  boule_3  boule_4  \
0          20081004         20081204.0       33       32       42       16
1          20081004         20081204.0       36        9       16       27
2          20081001         20081201.0       41       16       14       18
3          20081001         20081201.0       29       28        3        1
4          20080927         20081127.0       24       47       39       42
...             ...                ...      ...      ...      ...      ...
7322     15/10/2008         15/12/2008       49       28       18       20
7323     13/10/2008         13/12/2008       11       10       41       37
7324     11/10/2008         11/12/2008       46       22       10       39
7325     08/10/2008         08/12/2008       24       48       32       41
7326     06/10/2008         06/12/2008       19       33       41       24

      boule_5  ...  nombre_de_gagnant_au_rang_1_second_tirage  \
0          15  ...                                        NaN
1          25  ...                                        NaN
2          10  ...                                        NaN
3           6  ...                                        NaN
4          45  ...                                        NaN
...       ...  ...                                        ...
7322       40  ...                                        NaN
7323       48  ...                                        NaN
7324       20  ...                                        NaN
7325       22  ...                                        NaN
7326       27  ...                                        NaN

      rapport_du_rang1_second_tirage  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7322                             NaN
7323                             NaN
7324                             NaN
7325                             NaN
7326                             NaN

     nombre_de_gagnant_au_rang_2_second_tirage  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
...                                        ...
7322                                       NaN
7323                                       NaN
7324                                       NaN
7325                                       NaN
7326                                       NaN

      rapport_du_rang2_second_tirage  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7322                             NaN
7323                             NaN
7324                             NaN
7325                             NaN
7326                             NaN

      nombre_de_gagnant_au_rang_3_second_tirage  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
7322                                        NaN
7323                                        NaN
7324                                        NaN
7325                                        NaN
7326                                        NaN

     rapport_du_rang3_second_tirage  \
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
7322                            NaN
7323                            NaN
7324                            NaN
7325                            NaN
7326                            NaN

      nombre_de_gagnant_au_rang_4_second_tirage  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
7322                                        NaN
7323                                        NaN
7324                                        NaN
7325                                        NaN
7326                                        NaN

     rapport_du_rang4_second_tirage  Unnamed: 49 Unnamed: 25
0                               NaN          NaN         NaN
1                               NaN          NaN         NaN
2                               NaN          NaN         NaN
3                               NaN          NaN         NaN
4                               NaN          NaN         NaN
...                             ...          ...         ...
7322                            NaN          NaN         NaN
7323                            NaN          NaN         NaN
7324                            NaN          NaN         NaN
7325                            NaN          NaN         NaN
7326                            NaN          NaN         NaN

[7327 rows x 57 columns]
DataFrame: df_super_loto
    annee_numero_de_tirage jour_de_tirage date_de_tirage date_de_forclusion  \
0                  2017001       VENDREDI     13/01/2017         15/03/2017
1                  2016002       VENDREDI     16/09/2016         16/11/2016
2                  2016001       VENDREDI     13/05/2016         13/07/2016
3                  2015003       VENDREDI     13/11/2015         13/01/2016
4                  2015002       VENDREDI     13/03/2015         13/05/2015
..                     ...            ...            ...                ...
87                20200002       VENDREDI     13/03/2020         13/05/2020
88                20200001       VENDREDI     14/02/2020         15/04/2020
89                20199001       VENDREDI     13/12/2019         12/02/2020
90                 2019002       VENDREDI     13/09/2019         13/11/2019
91                 2019001       DIMANCHE     14/07/2019         13/09/2019

    boule_1  boule_2  boule_3  boule_4  boule_5  numero_chance  ...  \
0        10       12       30       24        6            2.0  ...
1        23       31       14        7       36            2.0  ...
2        44       15       42       46        3            7.0  ...
3         9       39       10       27        1            3.0  ...
4        20        9       34       13        1            6.0  ...
..      ...      ...      ...      ...      ...            ...  ...
87       36        7       19       46       18            2.0  ...
88       23        5       28       27       10           10.0  ...
89       19        6       29        8       43            6.0  ...
90       28       32       10       22        9            6.0  ...
91       20        8       45       30       26            1.0  ...

   rapport_du_rang7  Unnamed: 28 nombre_de_gagnant_au_rang8  rapport_du_rang8  \
0               NaN          NaN                        NaN               NaN
1               NaN          NaN                        NaN               NaN
2               NaN          NaN                        NaN               NaN
3               NaN          NaN                        NaN               NaN
4               NaN          NaN                        NaN               NaN
..              ...          ...                        ...               ...
87             21,9          NaN                   630131.0               8,1
88             21,1          NaN                   528351.0                 7
89             19,3          NaN                   677219.0               7,5
90               20          NaN                   680338.0                10
91               20          NaN                   247409.0                10

   nombre_de_gagnant_au_rang9  rapport_du_rang9 nombre_de_codes_gagnants  \
0                         NaN               NaN                      NaN
1                         NaN               NaN                      NaN
2                         NaN               NaN                      NaN
3                         NaN               NaN                      NaN
4                         NaN               NaN                      NaN
..                        ...               ...                      ...
87                   863024.0               3.0                     50.0
88                   555748.0               3.0                     50.0
89                   859866.0               3.0                     50.0
90                   829690.0               3.0                     50.0
91                   308279.0               3.0                     50.0

    rapport_codes_gagnants                                     codes_gagnants  \
0                      NaN                                                NaN
1                      NaN                                                NaN
2                      NaN                                                NaN
3                      NaN                                                NaN
4                      NaN                                                NaN
..                     ...                                                ...
87                 20000.0  S 4339 5423,B 5171 1319,S 1648 9250,Q 8656 607...
88                 20000.0  K 8805 9843,F 3922 7928,O 0063 8846,A 0150 294...
89                 20000.0  H 8930 1252,G 8964 2865,J 1532 1196,C 1025 112...
90                 20000.0  B 2170 5114,L 7573 6456,D 4187 8926,D 4348 751...
91                 20000.0  A 4942 1797,K 4981 0389,D 3339 8080,V 5298 520...

    Unnamed: 34
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
87          NaN
88          NaN
89          NaN
90          NaN
91          NaN

[92 rows x 39 columns]

### Suppréssion des colonnes

- on récupère le nom des colonnes de chaque df

In [20]:
column_names = df.columns

In [24]:
# Chemin vers le répertoire contenant les sous-dossiers avec les fichiers CSV
root_folder_path = 'C:/Users/PELLE Mayel/Documents/Perso/LOTO/stream_stat/data/'

# Dictionnaire pour stocker les DataFrames par dossier
dfs_dict = {}

# Parcourir chaque dossier dans le répertoire racine
for folder in os.listdir(root_folder_path):
    folder_path = os.path.join(root_folder_path, folder)
    
    # Vérifier si c'est un dossier
    if os.path.isdir(folder_path):
        # Liste pour stocker les DataFrames individuels
        dfs = []
        
        # Parcourir chaque fichier CSV dans le dossier
        for file in os.listdir(folder_path):
            if file.endswith('.csv'):
                file_path = os.path.join(folder_path, file)
                df = pd.read_csv(file_path, sep=";")
                dfs.append(df)
        
        # Concatenation des DataFrames en un seul DataFrame pour le dossier
        combined_df = pd.concat(dfs, ignore_index=True)
        
        # Stocker le DataFrame combiné dans le dictionnaire
        dfs_dict[folder] = combined_df

# Afficher les DataFrames par dossier
for folder, df in dfs_dict.items():
    print(f"Dossier: {folder}")
    print(df)

Dossier: autres_loto
   annee_numero_de_tirage jour_de_tirage date_de_tirage date_de_forclusion  \
0                20233001       DIMANCHE     24/12/2023         23/02/2024
1                20222001       DIMANCHE     25/12/2022         24/02/2023
2                20211001       VENDREDI     24/12/2021         23/02/2022
3                20200001       VENDREDI     25/12/2020         26/03/2021
4                20199001       MARDI        24/12/2019         23/02/2020
5                 2018001       MARDI        25/12/2018         24/02/2019
6                 2017001       VENDREDI     22/12/2017         21/02/2018

   boule_1  boule_2  boule_3  boule_4  boule_5  numero_chance  ...  \
0       34       47       48       22        6              2  ...
1       26       17       35       40       20             10  ...
2       26       10        8       47       17             10  ...
3       15       48       33       30       35              5  ...
4       15       39       32       10       27              6  ...
5       44       20       31        5       36              5  ...
6       21       29       10       34       20              9  ...

  nombre_de_gagnant_au_rang8  rapport_du_rang8  nombre_de_gagnant_au_rang9  \
0                     447348              30,5                      689277
1                     454565              29,8                      636853
2                     659619                23                      786741
3                     414296              13,5                      772303
4                     473629              12,3                      674028
5                     502554              30,2                      870296
6                     471623              36,6                      678474

   rapport_du_rang9 nombre_de_codes_gagnants  rapport_codes_gagnants  \
0              10,4                      100                   20000
1              10,8                      100                   20000
2               9,7                      100                   20000
3                 5                      100                   20000
4                 5                      100                   20000
5               9,2                      100                   20000
6              12,3                      100                   20000

                                      codes_gagnants  numero_jokerplus devise  \
0  P 5061 8201,G 1077 7060,E 1234 5405,Q 2268 506...         5 687 281    eur
1  U 7454 8218,U 1345 0349,K 6873 8673,G 4039 045...         0 728 243    eur
2  S 6134 0243,A 7292 3991,B 0476 1261,G 0456 704...         2 502 519    eur
3  G 2211 3266,L 1968 2882,T 4416 8328,N 5833 674...         2 135 495    eur
4  V 8217 1682,H 1330 3649,S 2594 5678,T 4114 015...         1 471 429    eur
5  B 3301 9976,Q 1278 6487,N 7443 5887,D 9928 140...         6 513 065    eur
6  A 6932 9989,M 8843 9836,E 5279 0788,V 8228 261...         7 144 776    eur

   Unnamed: 34
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN

[7 rows x 35 columns]
Dossier: loto
      annee_numero_de_tirage  1er_ou_2eme_tirage jour_de_tirage  \
0                    2008080                 2.0             SA
1                    2008080                 1.0             SA
2                    2008079                 2.0             ME
3                    2008079                 1.0             ME
4                    2008078                 2.0             SA
...                      ...                 ...            ...
7322                 2008085                 NaN       MERCREDI
7323                 2008084                 NaN       LUNDI
7324                 2008083                 NaN       SAMEDI
7325                 2008082                 NaN       MERCREDI
7326                 2008081                 NaN       LUNDI

     date_de_tirage date_de_forclusion  boule_1  boule_2  boule_3  boule_4  \
0          20081004         20081204.0       33       32       42       16
1          20081004         20081204.0       36        9       16       27
2          20081001         20081201.0       41       16       14       18
3          20081001         20081201.0       29       28        3        1
4          20080927         20081127.0       24       47       39       42
...             ...                ...      ...      ...      ...      ...
7322     15/10/2008         15/12/2008       49       28       18       20
7323     13/10/2008         13/12/2008       11       10       41       37
7324     11/10/2008         11/12/2008       46       22       10       39
7325     08/10/2008         08/12/2008       24       48       32       41
7326     06/10/2008         06/12/2008       19       33       41       24

      boule_5  ...  nombre_de_gagnant_au_rang_1_second_tirage  \
0          15  ...                                        NaN
1          25  ...                                        NaN
2          10  ...                                        NaN
3           6  ...                                        NaN
4          45  ...                                        NaN
...       ...  ...                                        ...
7322       40  ...                                        NaN
7323       48  ...                                        NaN
7324       20  ...                                        NaN
7325       22  ...                                        NaN
7326       27  ...                                        NaN

      rapport_du_rang1_second_tirage  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7322                             NaN
7323                             NaN
7324                             NaN
7325                             NaN
7326                             NaN

     nombre_de_gagnant_au_rang_2_second_tirage  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
...                                        ...
7322                                       NaN
7323                                       NaN
7324                                       NaN
7325                                       NaN
7326                                       NaN

      rapport_du_rang2_second_tirage  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7322                             NaN
7323                             NaN
7324                             NaN
7325                             NaN
7326                             NaN

      nombre_de_gagnant_au_rang_3_second_tirage  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
7322                                        NaN
7323                                        NaN
7324                                        NaN
7325                                        NaN
7326                                        NaN

     rapport_du_rang3_second_tirage  \
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
7322                            NaN
7323                            NaN
7324                            NaN
7325                            NaN
7326                            NaN

      nombre_de_gagnant_au_rang_4_second_tirage  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
7322                                        NaN
7323                                        NaN
7324                                        NaN
7325                                        NaN
7326                                        NaN

     rapport_du_rang4_second_tirage  Unnamed: 49 Unnamed: 25
0                               NaN          NaN         NaN
1                               NaN          NaN         NaN
2                               NaN          NaN         NaN
3                               NaN          NaN         NaN
4                               NaN          NaN         NaN
...                             ...          ...         ...
7322                            NaN          NaN         NaN
7323                            NaN          NaN         NaN
7324                            NaN          NaN         NaN
7325                            NaN          NaN         NaN
7326                            NaN          NaN         NaN

[7327 rows x 57 columns]
Dossier: super_loto
    annee_numero_de_tirage jour_de_tirage date_de_tirage date_de_forclusion  \
0                  2017001       VENDREDI     13/01/2017         15/03/2017
1                  2016002       VENDREDI     16/09/2016         16/11/2016
2                  2016001       VENDREDI     13/05/2016         13/07/2016
3                  2015003       VENDREDI     13/11/2015         13/01/2016
4                  2015002       VENDREDI     13/03/2015         13/05/2015
..                     ...            ...            ...                ...
87                20200002       VENDREDI     13/03/2020         13/05/2020
88                20200001       VENDREDI     14/02/2020         15/04/2020
89                20199001       VENDREDI     13/12/2019         12/02/2020
90                 2019002       VENDREDI     13/09/2019         13/11/2019
91                 2019001       DIMANCHE     14/07/2019         13/09/2019

    boule_1  boule_2  boule_3  boule_4  boule_5  numero_chance  ...  \
0        10       12       30       24        6            2.0  ...
1        23       31       14        7       36            2.0  ...
2        44       15       42       46        3            7.0  ...
3         9       39       10       27        1            3.0  ...
4        20        9       34       13        1            6.0  ...
..      ...      ...      ...      ...      ...            ...  ...
87       36        7       19       46       18            2.0  ...
88       23        5       28       27       10           10.0  ...
89       19        6       29        8       43            6.0  ...
90       28       32       10       22        9            6.0  ...
91       20        8       45       30       26            1.0  ...

   rapport_du_rang7  Unnamed: 28 nombre_de_gagnant_au_rang8  rapport_du_rang8  \
0               NaN          NaN                        NaN               NaN
1               NaN          NaN                        NaN               NaN
2               NaN          NaN                        NaN               NaN
3               NaN          NaN                        NaN               NaN
4               NaN          NaN                        NaN               NaN
..              ...          ...                        ...               ...
87             21,9          NaN                   630131.0               8,1
88             21,1          NaN                   528351.0                 7
89             19,3          NaN                   677219.0               7,5
90               20          NaN                   680338.0                10
91               20          NaN                   247409.0                10

   nombre_de_gagnant_au_rang9  rapport_du_rang9 nombre_de_codes_gagnants  \
0                         NaN               NaN                      NaN
1                         NaN               NaN                      NaN
2                         NaN               NaN                      NaN
3                         NaN               NaN                      NaN
4                         NaN               NaN                      NaN
..                        ...               ...                      ...
87                   863024.0               3.0                     50.0
88                   555748.0               3.0                     50.0
89                   859866.0               3.0                     50.0
90                   829690.0               3.0                     50.0
91                   308279.0               3.0                     50.0

    rapport_codes_gagnants                                     codes_gagnants  \
0                      NaN                                                NaN
1                      NaN                                                NaN
2                      NaN                                                NaN
3                      NaN                                                NaN
4                      NaN                                                NaN
..                     ...                                                ...
87                 20000.0  S 4339 5423,B 5171 1319,S 1648 9250,Q 8656 607...
88                 20000.0  K 8805 9843,F 3922 7928,O 0063 8846,A 0150 294...
89                 20000.0  H 8930 1252,G 8964 2865,J 1532 1196,C 1025 112...
90                 20000.0  B 2170 5114,L 7573 6456,D 4187 8926,D 4348 751...
91                 20000.0  A 4942 1797,K 4981 0389,D 3339 8080,V 5298 520...

    Unnamed: 34
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
87          NaN
88          NaN
89          NaN
90          NaN
91          NaN

[92 rows x 39 columns]

In [26]:
for key, df in dfs_dict.items():
    print(f"Clé: {key}")
    print("\nInformations supplémentaires:")
    print(f"Noms des colonnes: {df.columns.tolist()}")
    print(f"Nombre de lignes: {df.shape[0]}")
    print(f"Nombre de colonnes: {df.shape[1]}")
    print("\n---\n")

Clé: autres_loto

Informations supplémentaires:
Noms des colonnes: ['annee_numero_de_tirage', 'jour_de_tirage', 'date_de_tirage', 'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4', 'boule_5', 'numero_chance', 'combinaison_gagnante_en_ordre_croissant', 'nombre_de_gagnant_au_rang1', 'rapport_du_rang1', 'nombre_de_gagnant_au_rang2', 'rapport_du_rang2', 'nombre_de_gagnant_au_rang3', 'rapport_du_rang3', 'nombre_de_gagnant_au_rang4', 'rapport_du_rang4', 'nombre_de_gagnant_au_rang5', 'rapport_du_rang5', 'nombre_de_gagnant_au_rang6', 'rapport_du_rang6', 'nombre_de_gagnant_au_rang7', 'rapport_du_rang7', 'nombre_de_gagnant_au_rang8', 'rapport_du_rang8', 'nombre_de_gagnant_au_rang9', 'rapport_du_rang9', 'nombre_de_codes_gagnants', 'rapport_codes_gagnants', 'codes_gagnants', 'numero_jokerplus', 'devise', 'Unnamed: 34']
Nombre de lignes: 7
Nombre de colonnes: 35

---

Clé: loto

Informations supplémentaires:
Noms des colonnes: ['annee_numero_de_tirage', '1er_ou_2eme_tirage', 'jour_de_tirage', 'date_de_tirage', 'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4', 'boule_5', 'boule_6', 'boule_complementaire', 'combinaison_gagnante_en_ordre_croissant', 'numero_joker', 'nombre_de_gagnant_au_rang1', 'rapport_du_rang1', 'nombre_de_gagnant_au_rang2', 'rapport_du_rang2', 'nombre_de_gagnant_au_rang3', 'rapport_du_rang3', 'nombre_de_gagnant_au_rang4', 'rapport_du_rang4', 'nombre_de_gagnant_au_rang5', 'rapport_du_rang5', 'nombre_de_gagnant_au_rang6', 'rapport_du_rang6', 'nombre_de_gagnant_au_rang7', 'rapport_du_rang7', 'numero_jokerplus', 'devise', 'Unnamed: 30', 'numero_chance', 'nombre_de_gagnant_au_rang8', 'rapport_du_rang8', 'nombre_de_gagnant_au_rang9', 'rapport_du_rang9', 'nombre_de_codes_gagnants', 'rapport_codes_gagnants', 'codes_gagnants', 'Unnamed: 34', 'boule_1_second_tirage', 'boule_2_second_tirage', 'boule_3_second_tirage', 'boule_4_second_tirage', 'boule_5_second_tirage', 'promotion_second_tirage', 'combinaison_gagnant_second_tirage_en_ordre_croissant', 'nombre_de_gagnant_au_rang_1_second_tirage', 'rapport_du_rang1_second_tirage', 'nombre_de_gagnant_au_rang_2_second_tirage', 'rapport_du_rang2_second_tirage', 'nombre_de_gagnant_au_rang_3_second_tirage', 'rapport_du_rang3_second_tirage', 'nombre_de_gagnant_au_rang_4_second_tirage', 'rapport_du_rang4_second_tirage', 'Unnamed: 49', 'Unnamed: 25']
Nombre de lignes: 7327
Nombre de colonnes: 57

---

Clé: super_loto

Informations supplémentaires:
Noms des colonnes: ['annee_numero_de_tirage', 'jour_de_tirage', 'date_de_tirage', 'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4', 'boule_5', 'numero_chance', 'combinaison_gagnante_en_ordre_croissant', 'nombre_de_gagnant_au_rang1', 'rapport_du_rang1', 'nombre_de_gagnant_au_rang2', 'rapport_du_rang2', 'nombre_de_gagnant_au_rang3', 'rapport_du_rang3', 'nombre_de_gagnant_au_rang4', 'rapport_du_rang4', 'nombre_de_gagnant_au_rang5', 'rapport_du_rang5', 'nombre_de_gagnant_au_rang6', 'rapport_du_rang6', 'numero_jokerplus', 'devise', 'Unnamed: 25', 'boule_6', 'boule_complementaire', 'nombre_de_gagnant_au_rang7', 'rapport_du_rang7', 'Unnamed: 28', 'nombre_de_gagnant_au_rang8', 'rapport_du_rang8', 'nombre_de_gagnant_au_rang9', 'rapport_du_rang9', 'nombre_de_codes_gagnants', 'rapport_codes_gagnants', 'codes_gagnants', 'Unnamed: 34']
Nombre de lignes: 92
Nombre de colonnes: 39

---

In [28]:
liste_colonne_to_keep = ['annee_numero_de_tirage', 'jour_de_tirage', 'date_de_tirage', 'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4', 'boule_5', 'numero_chance', 'combinaison_gagnante_en_ordre_croissant', 'numero_jokerplus', 'boule_complementaire', 'numero_joker']

In [33]:
for key, df in dfs_dict.items():
    print(key)
    # vérifier les colonnes présentes dans le dataframe
    col_to_keep = [col for col in liste_colonne_to_keep if col in df.columns]
    print(col_to_keep)

autres_loto
['annee_numero_de_tirage', 'jour_de_tirage', 'date_de_tirage', 'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4', 'boule_5', 'numero_chance', 'combinaison_gagnante_en_ordre_croissant', 'numero_jokerplus']
loto
['annee_numero_de_tirage', 'jour_de_tirage', 'date_de_tirage', 'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4', 'boule_5', 'numero_chance', 'combinaison_gagnante_en_ordre_croissant', 'numero_jokerplus', 'boule_complementaire', 'numero_joker']
super_loto
['annee_numero_de_tirage', 'jour_de_tirage', 'date_de_tirage', 'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4', 'boule_5', 'numero_chance', 'combinaison_gagnante_en_ordre_croissant', 'numero_jokerplus', 'boule_complementaire']

In [35]:
# Boucler dans le dictionnaire pour mettre à jour les DataFrames
for key, df in dfs_dict.items():
    # Vérifier les colonnes présentes dans le DataFrame
    cols_to_keep = [col for col in liste_colonne_to_keep if col in df.columns]
    
    # Garder uniquement les colonnes présentes dans la liste de colonnes à conserver
    updated_df = df[cols_to_keep]
    
    # Mettre à jour le DataFrame dans le dictionnaire
    dfs_dict[key] = updated_df

# Afficher les DataFrames mis à jour
for key, df in dfs_dict.items():
    print(f"Clé: {key}")
    print("DataFrame mis à jour:")
    print(f"Noms des colonnes: {df.columns.tolist()}")
    print(df.shape)
    print(f"Nombre de lignes: {df.shape[0]}")
    print(f"Nombre de colonnes: {df.shape[1]}")
    print("\n---\n")

Clé: autres_loto
DataFrame mis à jour:
Noms des colonnes: ['annee_numero_de_tirage', 'jour_de_tirage', 'date_de_tirage', 'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4', 'boule_5', 'numero_chance', 'combinaison_gagnante_en_ordre_croissant', 'numero_jokerplus']
(7, 12)
Nombre de lignes: 7
Nombre de colonnes: 12

---

Clé: loto
DataFrame mis à jour:
Noms des colonnes: ['annee_numero_de_tirage', 'jour_de_tirage', 'date_de_tirage', 'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4', 'boule_5', 'numero_chance', 'combinaison_gagnante_en_ordre_croissant', 'numero_jokerplus', 'boule_complementaire', 'numero_joker']
(7327, 14)
Nombre de lignes: 7327
Nombre de colonnes: 14

---

Clé: super_loto
DataFrame mis à jour:
Noms des colonnes: ['annee_numero_de_tirage', 'jour_de_tirage', 'date_de_tirage', 'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4', 'boule_5', 'numero_chance', 'combinaison_gagnante_en_ordre_croissant', 'numero_jokerplus', 'boule_complementaire']
(92, 13)
Nombre de lignes: 92
Nombre de colonnes: 13

---

### Comparaison des dataframes